body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* kullanıcının gördüğü toplam sayfa yüksekliğini al ve ortala */
}

.container {    
    width: 400px;   /* çerçevenin toplam genişliğini verdim */
}

#progress .times,
.card-footer,
.volume-container{
    display: flex;
    align-items: center; /* dikeyde ortalansın */
    justify-content: space-between; /* biri sağa biri sola geçsin */
}

.volume-container i{
    margin-right: 5px;
}

li.playing{ /* kullanıcı listeden bir müzik oynatırsa playing eklenecek */
    color: #fff;
    background-color: #0b5eb7;
}